body {
    font-family: Arial, sans-serif;
    background-color: #222629;
    margin: 0;
    padding: 0;
}

img {
    position: relative;
    left: 50%;
    /* top: 0%; */
    bottom: 0%;
    max-width: 20vw;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  }
img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

header {
    background-color:#cc5b47; 
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu button {
    background-color: #fff;
    color: #d0e8e2 ;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header .menu .nav-buttons {
    display: none;
}

header .menu .subscribe {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header .menu .dots {
    cursor: pointer;
    font-size: 24px;
}

header h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 1.2em;
    margin: 0;
    margin-right: 70px;
}

#menu-toggle:checked + label + .nav-buttons {
    display: block;
}

.profile {
    display: flex;
    justify-content: left;
    align-items: center;
}
.profile img {
    all: revert;
    margin-left: 20px;
    width: 80px;
    height: auto;
}

.profile h1{
    color: #cc5b47;
    margin-left: 15px;
}

.profile button {
    background-color: red;
    margin-left: 10px;
    border-radius: 15px;
    color: white;
    text-align: center;
    width: 150px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.content {
    background-color: none;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
}

.content h1, h2 {
    text-align: center;
}

.section {
    background-color: #d1d1d1;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
}

.section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


footer {
    background-color: #cc5b47;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;

}

footer a:active, a:hover, a {
  text-decoration: none;
  color: #f4a261;
}


footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-container button {
    width: 422px;
    padding: 10px;
    background-color: #444444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #444444;
}

.menu-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c4d6baf8;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .menu-button {
    background-color: #45a049;
}

.section-content {
    font-family: 'Caveat', sans-serif;
    font-size: 1.2em;
    color: #333;
    background-color: #6B6E70;
    padding: 15px;
    border-radius: 8px;
}

.main_information {
    font-family: 'Rock Salt', cursive;
    font-size: 1.2em;
    margin-left: 20px;
    color: black;
}

.dialogue {
    font-family: 'Rock Salt', cursive;
    font-size: 1.2em;
    margin-left: 20px;
    color: black;
}

.example {
    font-family: 'Verdana', cursive;
    color: #5a5a5a;
}

.intro, .conclusion {
    background-color: #d0e8e2;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 20px auto;
}

.intro p, .conclusion p {
    margin: 0;
    font-family: 'Rock Salt', cursive;
    font-size: 1.2em;
    margin-left: 20px;
}

.conclusion h2{
    margin: 0;
}

.section1, .section2, .section3, .section4, .section5 {
    background-color: #c4d6baa8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Rock Salt', cursive;
    font-size: 1.2em;
    width: 90%;
    margin: 20px auto;
}

.section1 img, .section2 img, .section3 img, .section4 img, .section5 img {
        position: relative;
        left: 50%;
        /* top: 0%; */
        bottom: 0%;
        max-width: 20vw;
        max-height: 30vh;
        height: auto;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.fact {
    color: #cc5b47;
    margin-bottom: 10px;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #d0e8e2;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.question {
    font-family: 'Rock Salt', cursive;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.answers {
    margin-bottom: 20px;
}

.answers button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color:#799c67a8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Rock Salt', cursive;
    font-size: 1em;
}

.answers button:hover {
    background-color: #527540a8;
}

.correct {
    color: #4caf50;
}

.incorrect {
    color: #f44336;
}

.extra-container{
    display: flex;
    flex-direction: row;
}

.extra-container div{
    position: relative;
    left: 0;
    width: 60%
}

.extra-container img{
    left: 5%;
}