body {
    font-family: Arial, sans-serif;
    background-color: #f0f9f4; /* мягкий зеленый фон */
    color: #c3fac1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #25814d; /* темно-зеленый фон */
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu .nav-buttons {
    display: none;
}

header .menu .subscribe {
    background-color: #fff;
    color: #2c6e49;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header .menu .dots {
    cursor: pointer;
    font-size: 24px;
}

#menu-toggle:checked + label + .nav-buttons {
    display: block;
}

.content {
    margin-top: 80px;
    padding: 20px;
}

.section {
    background-color: #ffffff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #25814d;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.form-container button {
    width: 422px;
    padding: 10px;
    background-color: #444444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #444444;
}

.menu-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .menu-button {
    background-color: #45a049;
}